<p id="notice"><%= notice %></p>

<p>

<h1> <%= @owner.name %></h1>
</p>
<p>

Owns:<br/>
<% if @owner.cats.any? %>
  <% @owner.cats.each do | cat|  %>
    <%= link_to cat.name, cat_path(cat) %>
  <% end %>
<% else %>
  Doesn't own cat
<% end %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
