<ul>
<% @cats.each do |cat| %>
  <li>
    <%= image_tag cat.picture, class: "image-index" %>
    <%= cat.name %> 
    <span class='birth-date'>
      <%= cat.birth_date.strftime("%Y %d %b") if cat.birth_date %>
    </span>

    <span class="actions">
      <%= link_to "More Info", cat_path(cat) %> | 
      <%= link_to "Delete", cat_path(cat), method: :delete, data: {confirm: "Are you sure you wan't to delete the #{cat.name} "} %>
    </span>

    <strong>
      <% if cat.owner.nil? %>
        "No Owner"
      <% else %>
        <%= link_to "Has an owner", owner_path(cat.owner.id) %>
      <% end %>
    </strong>
  </li>
<% end %>
</ul>
