<h1><%= @cat.name %></h1>
<p>
<%= image_tag @cat.picture, width: 200 %>
</p>
<p>Is born: <%= @cat.birth_date.strftime("%Y %d %b") %></p>
<p>Owner:<br/>
<%= @cat.owner.nil? ? "No Owner" : @cat.owner.name %>
</p>
<%= link_to "Back", :back %>
